.about{
    padding:80px 10%;
    text-align:center;
}

.about h2{
    font-size:40px;
    color:#2563eb;
    margin-bottom:30px;
}

.about p{
    max-width:900px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}